html, body {
    margin: 0;
    padding: 0;
}

html, body, #root, #root>div {
  height: 100%;
}


::-webkit-scrollbar
{
	width: 14px;
    height: 18px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb
{
    height: 6px;
    min-height: 40px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
